.header__lang-link {
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;

  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.header__lang-link:hover {
  opacity: 80%;
}

@media screen and (max-width: 568px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
