.header {
  padding: 0px 48px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0px 24px 0px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0px 16px 0px;
  }
}

