.content {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 92px;
}

@media screen and (max-width: 768px){
     .content {
        grid-row-gap: 88px;
     }
}

@media screen and (max-width: 568px){
     .content {
        grid-row-gap: 64px;
     }
}
