.footer__link {
  color: white;
  text-decoration: none;
  margin: 0 18px 0 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  -webkit-transition: opacity 0.25s ease-in-out;

  -o-transition: opacity 0.25s ease-in-out;

  transition: opacity 0.25s ease-in-out;
}

.footer__link:last-of-type {
     margin-right: 0;
}

.footer__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 750px) {
  .footer__link {
     margin-bottom: 32px;
     font-size: 24px;
     line-height: 24px;
  }

  .footer__link:last-of-type {
     margin-bottom: 0;
  }
}
