.lead__subtitle {
  max-width: 640px;
  margin: 0 0 64px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc((100vw - 320px)/(768 - 320)*(30 - 16) + 16px);
    line-height: calc((100vw - 320px)/(768 - 320)*(36 - 20) + 20px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
