.place {
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px fit-content(484px);
  grid-template-columns: 1fr fit-content(484px);
  row-gap: 48px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    -ms-grid-columns: 1fr 32px fit-content(456px);
    grid-template-columns: 1fr fit-content(456px);
    row-gap: 48px;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    -ms-grid-columns: 1fr 28px fit-content(352px);
    grid-template-columns: 1fr fit-content(352px);
    row-gap: 48px;
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }
}

  @media screen and (max-width: 425px) {
    .place {
      margin-bottom: 50px;
      grid-template-columns: repeat(auto-fit, minmax(320px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
      row-gap: 32px;
      -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
              column-gap: 0px;
    }
  }
