.place {
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(460px) 40px 1fr;
  grid-template-columns: fit-content(460px) 1fr;
  row-gap: 48px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    -ms-grid-columns: fit-content(440px) 32px 1fr;
    grid-template-columns: fit-content(440px) 1fr;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    -ms-grid-columns: fit-content(340px) 28px 1fr;
    grid-template-columns: fit-content(340px) 1fr;
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }
}

  @media screen and (max-width: 670px) {
    .place {
      margin-bottom: 50px;
      grid-template-columns: repeat(auto-fit, minmax(320px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
      row-gap: 32px;
      -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
              column-gap: 0px;
    }
  }
