.cover__item {
  color: white;
  min-height: 740px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  background-image: url(../../../images/cover-trains.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.cover__item::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  transition: 0.5s;
}

.cover__item:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1140px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 968px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__item {
    min-height: 200px;
    padding: 10px;
  }
}
